h1 {
    color: purple;
    font-family: papyrus;
    font-size: 175%;
    font-weight: bold;
}

.blue {
    color: #000099;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

label {
    font-weight:bold;
}
