/* Page heading */

h1 {
    color: purple;
    font-family: papyrus;
    font-size: 175%;
    font-weight: bold;
}

.blue {
    color: #000099;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

label {
    font-weight: bold;
}

/* Itinerary table */

table {
    width: 500px;
    border: 2px solid;
    margin: 0 0 20px;
    background: #F0F8FF
}

/* Itinerary borders */

td {
    border: 1px solid black;
    background: white
}