

/* Universal Styles */

.blue {
    color: #000099;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

label {
    font-weight: bold;
}

/* Page Heading */

h1 {
    color: purple;
    font-family: papyrus;
    font-size: 175%;
    font-weight: bold;
}

/* Itinerary Table */

table {
    width: 500px;
    border: 2px solid;
    margin: 0 0 20px;
    background: #F0F8FF
}

/* Itinerary Borders */

td {
    border: 1px solid black;
    background: white
}

/* Media Queries
@Media only screen and (max-width: 600px) {
     {
      
    }
}*/